@import '@fontsource/manrope/300.css';
@import '@fontsource/manrope/400.css';
@import '@fontsource/manrope/500.css';
@import '@fontsource/manrope/600.css';
@import '@fontsource/manrope/700.css';
@import '@fontsource/playfair-display/400.css';
@import '@fontsource/playfair-display/400-italic.css';
@import '@fontsource/playfair-display/500.css';
@import '@fontsource/playfair-display/600.css';
@import '@fontsource/playfair-display/700.css';

/* Vogun Font */
@font-face {
  font-family: 'Vogun';
  src: url('/fonts/Vogun-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Vogun Font Styling */
.font-vogun {
  font-family: 'Vogun', serif;
  font-feature-settings: 'liga' on, 'calt' on;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.writing-vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-justify-last-left {
  text-align: justify;
  text-align-last: left;
}

